.bookings {
	display: flex;
	flex-direction: column;
	padding: 25px;

	@media screen and (min-width: 768px) {
    display: block;
  }
	
	.bookings__table {
		order: 2;

		@media screen and (min-width: 768px) {
	    width: 55%;
	    float: left;
	    margin-right: 5%;
	  }
	}

	.bookings__panel {
		order: 1;
		margin-bottom: 30px;
		
		@media screen and (min-width: 768px) {
	    width: 40%;
	    float: left;
	  }
	}
}
