.header {
	background: $color-black;
	padding: 25px;
	.header__heading {
		color: $color-white;
		text-align: center;
		margin: 0;
		@media screen and (min-width: 768px) {
	    text-align: left
	  }
	}
}
