table {
	width: 100%;
}

th, td {
	padding: 10px 10px;
	border: 1px solid $color-black;
}

tr {
	&:hover {
		background-color: #dddddd;
	}

	&.cancelled {
		td {
			text-decoration: line-through;
		}
	}
}

th {
	text-align: left;
	background: #a5a5a5
}

td {
	cursor: pointer;
}

